.ChangePasswordController {
  max-width: 65%;
  &__form {
    margin-left: 5rem;
    &-buttons {
      margin-top: 4rem;
      display: flex;
      justify-content: flex-end;
      & .CustomButton:nth-child(2) {
        margin-left: 3.5rem;
      }
    }
  }
  
}