@import '../colors.scss';
.NavBar {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  & .container {
    display: flex;
    align-items: center;
  }

  &__upper {
    height: 9.5rem;
    background: $medeasy-grey-color;
    &-logo {
      padding: 0 4rem 0 2rem;
    }
    &-links {
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      & a { 
        height: 100%; 
        display: flex; 
        align-items: center;
        padding: 0 2.5rem;
        transition: color, background-color .3s;
        &.active, &:hover {
          background: $medeasy-green-color;
          color: $white-color;
        }
      }
    }

    &-other {
      margin-left: auto;
      margin-right: 1.3rem;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      &-auth {
        margin-right: 3.2rem;
      }
      &-cart {
        position: relative;
        margin-right: 3rem;
        cursor: pointer;
        display: flex;
        &--count {
          position: absolute;
          right: -1rem;
          top: -5px;
          width: 2rem;
          height: 2rem;
          text-align: center;
          line-height: 2rem;
          background: $medeasy-green-color;
          border-radius: 50%;
          color: white;
        }
      }
      &-contact {
        display: flex;
        align-items: center;
      }
    }
  }

  &__lower {
    height: 7.5rem;
    background: $medeasy-green-color;
    &.container { 
      justify-content: space-between;
      padding: 0 2rem;
    }
    &--categories {
      height: 100%;
      display: flex;
      color: white;
    }
    &--category {
      position: relative;
      & span { margin-right: 1.5rem; }
      &:not(:last-child) { margin-right: 3.5rem }
      display: flex;
      align-items: center;
      
      &:hover {
        cursor: pointer;
        .dropdown {
          display: flex;
          opacity: 1;
        }
      }
    }
    &--search {
      margin-left: auto;
      display: flex;
      width: 49rem;
      border: 1px solid $medeasy-grey-color;
      border-radius: .5rem;
      &-allcats {
        background: $medeasy-grey-color;
        padding: 1rem;
        display: flex;
        & span { margin-right: 1rem }
        & img { cursor: pointer }
      }
      &-text {
        flex: 1;
        display: flex;
        justify-content: space-between;
        & input[type='text'] {
          height: 100%;
          width: 100%;
          border: none;
          outline: none;
          background: none;
          padding: 1rem 2rem;
          font-size: 1.6rem;
          color: white;
        }
        & input[type='image'] {
          margin-right: 1rem;
          outline: none;
        }
        & img { cursor: pointer }
      }
    }
  }
}