@import '../colors';
.ProductInformation {
  margin-left: 3rem;
  flex: 1;
  &__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--name {
      margin-right: 2rem;
    }
  }
  &__rate {
    margin-top: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-review { color: #979797; margin-left: 1.5rem; }
  }
  &__availability {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    span { margin-right: 1rem; }
  }
  &__dosage, &__pillquantity {
    margin-top: 3rem;
    &--badges {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-start;
      & .CustomBadge:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  &__rates {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    &--price {
      border-right: 1px solid $medeasy-border-light-grey-color;
      padding-right: 4rem;
      &-final {
        color: $medeasy-green-color;
      }
      &-original {
        display: flex;
        &--value {
          color: $medeasy-border-light-grey-color;
        }
        &--percent {
          margin-left: 5px;
          color: $medeasy-green-color;
        }
      }
    }
  }
  &__buttons {
    margin-top: 3.5rem;
    display: flex;
    justify-content: flex-start;
    &-button {
      border: none;
      outline: none;
      padding: 2rem 3rem;
      color: $white-color;
      border-radius: 1rem;
    }
    &-addcart {
      background: $medeasy-green-color;
      margin-right: 3rem;
    }
    &-buy {
      background: $medeasy-orange;
    }
  }
}