.AdminDashboardPage {
  display: flex;
  &__main-content {
    background: #EDEDED;
    padding: 2rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__hamburger {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
  }
  &__user {
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: 2rem;
    right: 3rem;
  }
  // Home page
  &__home {
    margin: 0 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}