.ShoppingCartPage {
  margin-top: 2.5rem;
  &__title {
    display: flex;
    align-items: center;
    &--name { margin-left: 2rem; }
  }
  &__main {
    padding: 0rem 9rem;
    display: flex;
    flex-direction: column;
    margin: 6rem 0;
    &--price {
      align-self: flex-end;
      &-subtotal-title, &-amount-title, &-savings-title {
        margin-right: 8rem;
        color: #979797;
      }
    }
    &--general-title:not(:last-child) {
      margin-bottom: 2.8rem;
    }
  }
}