*, *::after,*::before {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  & .App {
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    font-size: 1.6rem;
  }
  ul, ol {
    list-style: none;
  }
  a, a:visited, a:active, a:link {
    text-decoration: none;
    color: inherit;
  }
  .container {
    max-width: 144rem;
    margin: 0 auto;
    height: 100%;
  }
  input, textarea {
    background: transparent;
    border: none;
    display: block;
    padding: 1rem 0;
    padding-left: 1.3rem;
    border-radius: .5rem;
  }
}