$black-color: #333;
$medeasy-text-color: #535151;
$medeasy-green-color: #7ac7b8;
$medeasy-dark-green-color: #1b6355;
$medeasy-grey-color: #EDEDED;
$medeasy-border-grey-color: #DDD7D7;
$white-color: #fff;
$medeasy-stock-color: #19ab2b;
$medeasy-out-of-stock-color: #d11c1a;
$medeasy-cancel-btn-color: #d44a4a;
$medeasy-orange: #f8931a;