@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap');

html {
  font-size: 62.5%;
}

body, input {
  font-family: 'PT Sans Caption', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

h3 { font-size: 1.8rem; font-weight: normal; }
h3.title { font-size: 1.4rem !important; }

label {
  font-size: 1.4rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.NavBar {
  &__upper-links {
    font-weight: bold;
    font-size: 1.8rem;
  }
  &__upper-other-cart--count {
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__lower--categories {
    font-size: 1.8rem;
  }
  & .dropdown .title {
    font-weight: bold;
    font-size: 1.8rem;
  }
}

input, textarea, .CustomButton {
  font-size: 1.6rem;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: normal;
}

.Footer {
  font-weight: bold;
}

.ProductInformation {
  &__detail--name, &__rates--price-final { font-size: 4.5rem; font-weight: bold; }
  &__rates--price-original { font-size: 2rem; }
  &__buttons-button { font-size: 3rem; font-family: 'PT Sans Caption', sans-serif; }
}

.ProductDetailPage {
  &__othertabs-tabs { font-size: 2.5rem; }
  &__othertabs-description { font-size: 1.8rem;  &--primary, &--secondary { line-height: 2.5rem; } }
}

.CustomBadge {
  font-size: 1.8rem;
}

.Assurances span {
  font-size: 1.2rem;
}

.CartListItem {
  &__price--final { font-size: 3rem; }
}

.ShoppingCartPage {
  &__main--price-amount-value { font-size: 3rem; }
}

.OrderSummary {
  &__title { font-size: 2.2rem }
}

.PricesBreakDown {
  &-total {
    font-size: 2.2rem; 
    font-weight: bold;
  }
}

.AccountPhase__title, .BillingPhase__title, .PaymentPhase__title, .ReviewPhase__title {
  font-size: 2.2rem;
}

.AccountPhase {
  &__guest--info { font-size: 1.8rem; }
}

.LoginRegisterModal {
  &__left-title{
    &--content {
      font-size: 3rem;
    }
  }
}