@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'PT Sans Caption', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}