@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'PT Sans Caption', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.NavBar {
  &__upper-links {
    font-weight: bold;
    font-size: 1.8rem;
  }
  &__upper-other-cart--count {
    font-size: 1.2rem;
    font-weight: bold;
  }
}