@import '../colors';

.CustomRadioButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__circle {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $medeasy-orange;
    box-sizing: content-box;
    padding: 1.5px;
    cursor: pointer;
    &-active {
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      background: transparent;
      transition: all .4s ease-out;
      &.glow { background: $medeasy-orange }
    }
  }
  &__text {
    margin-left: 7px;
  }
}