.LandingPageCarousel {
  padding: 0 15px;
  flex-basis: 65%;
  max-height: 45rem;
  position: relative;

  &__slides {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: all 0.2s;
  }

  &__slide {
    position: absolute;
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
    }
    &.current {
      z-index: 10;
      transform: translateX(0);
    }
    &.next {
      z-index: 10;
      transform: translateX(100%);
    }
    &.prev {
      z-index: 10;
      transform: translateX(-100%);
    }
  }

  &__buttons {
    z-index: 11;
    display: flex;
    width: 90%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & svg {
      cursor: pointer;
    }

    &-left {
      left: 2rem;
    }

    &-right {
      right: 2rem;
    }
  }
}
