@import '../colors';

.LoginRegisterModal {
  &-wrapper {
    width: 100vw;
    height: 100vh;
    background: $medeasy-green-color;
  }
  z-index: 4;
  width: 110rem; 
  height: 71.5rem; 
  border-radius: 2rem;
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  &__left, &__right {
    flex: 1;
  }
  &__left {
    padding: 3rem;
    background: #E1F3F0;
    &-title {
      display: inline-block;
      &--content {
        display: flex;
      }
      &--bar {
        margin-top: 1rem;
        width: 55%;
        height: 5px;
        background: #68A1AC;
      }
    }
    &-image { margin-top: 7rem; }
  }
  &__right {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg { cursor: pointer; }
    svg[alt='close-btn-grey'] {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
    &-loginform, &-registerform {
      width: 100%;
      .CustomFormElement {
        margin-bottom: 2.7rem !important;
      }
      .CustomButton {
        width: 100%;
        margin-top: 3.5rem;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
      }
    }
    &-loginform {
      input:not([type='submit']) {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      &--split {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &-registerform {
      input:not([type='submit']) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
      .CustomButton { margin-top: 0rem }
      &--half {
        display: flex;
        justify-content: space-between;
        & .CustomFormElement:nth-child(2) { margin-left: 1rem }
      }
    }
  }
}