@import '../colors';

.Conditions {
  cursor: default;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  row-gap: 3.5rem;
  grid-auto-rows: minmax(5rem, max-content);
  min-width: 140rem;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 7.5rem;
  background: rgb(245, 245, 245);
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .2s;
  color: $black-color;
  padding: 3rem 3.5rem;

  &-title {
    color: $medeasy-title-color;
  }

  &__list {
    display: flex;
    flex-direction: column;

    &-title {
      cursor: pointer;
      display: inline-block;
      padding-bottom: .4rem;
      margin-bottom: 1.5rem;
      width: 50%;
      color: $medeasy-green-color;
      border-bottom: 1px solid rgba(139, 139, 139, 0.2);
    }

    &-item {
      max-width: 20%;
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      transition: color .3s ease-in-out;
      -webkit-transition: color .3s ease-in-out;
      -moz-transition: color .3s ease-in-out;
      -ms-transition: color .3s ease-in-out;
      -o-transition: color .3s ease-in-out;

      &:hover {
        cursor: pointer;
        color: $medeasy-green-color;
      }
    }
  }
}