@import '../colors';

.Conditions {
  cursor: default;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 3.5rem;
  grid-auto-rows: minmax(min-content, max-content);
  width: calc(99vw - 11.5rem);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 7.5rem;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .2s;
  color: $black-color;
  padding: 3rem 3.5rem;

  &-title {
    color: $medeasy-title-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-self: start;

    &-title {
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      padding-bottom: .4rem;
      margin-bottom: 1.5rem;
      width: 80%;
      text-transform: uppercase;
      color: #F8931A !important;
      border-bottom: 1px solid rgba(139, 139, 139, 0.2);
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
      color: #66A89B !important;
      font-weight: bold;

      transition: color .3s ease-in-out;
      -webkit-transition: color .3s ease-in-out;
      -moz-transition: color .3s ease-in-out;
      -ms-transition: color .3s ease-in-out;
      -o-transition: color .3s ease-in-out;

      &:hover {
        cursor: pointer;
        color: $medeasy-green-color;
      }
    }
  }
}