@import '../colors';
.PaymentType {
  cursor: pointer;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 10rem;
  border: 2px solid #d9d9d9;
  background: transparent;
  transition: all .2s ease-in;
  &:hover, &.activeType {
    background: $medeasy-green-color;
    border-color: $medeasy-green-color;
    color: white;
  }
  &__name { margin-top: 2rem; }
}