.PaymentPhase {
  &__types {
    margin: 3rem 0;
    display: flex;
    justify-content: flex-start;
    & a:not(:last-child) {
      margin-right: 4rem;
    }
  }
  &__payment-form {
    &-three {
      display: flex;
      justify-content: space-between;
      .CustomFormElement {
        width: 30%;
      }
    }
  }
}