@import '../colors';
@import '../mixins';

.ProductImageCarousel {
  flex-basis: 43.9%;
  &__main {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    &--img {
      display: inline-block;
      width: 80%;
      @include desktop { min-width: 30rem; height: 30rem; }
    }
    span {
      align-self: center;
    }
  }
  &__otherimgs {
    display: flex;
    margin-top: 6rem;
    justify-content: center;
    &--img {
      border: 3px solid transparent;
      transition: border .2s ease;
      width: 11.5rem;
      height: 11.5rem;
      &:not(:last-child) {
        margin-right: 3rem;
      }
      &:hover, &.activeImg {
        cursor: pointer;
        border-color: $medeasy-green-color;
      }
      & img { width: 100%; height: 100%; }
    }
  }
}