@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');
@import './mixins';

html {
  font-size: 62.5%;

  @include desktop {
    font-size: 53%;
  }
}

body,
input {
  font-family: 'PT Sans Caption', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-size: 1.8rem;
  font-weight: normal;
}

h3.title {
  font-size: 1.4rem !important;
}

label {
  font-size: 1.4rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CheckoutProgress {
  & .title {
    font-size: 1.6rem !important;
  }
}

.CustomRadioButton {
  &__text {
    font-size: 1.4rem;
  }
}

.NavBar {
  &__upper-links {
    font-weight: bold;
    font-size: 1.8rem;

    @media only screen and (max-width: 79.69em) {
      font-size: 1.6rem;
    }

    @media only screen and (max-width: 65.6em) {
      font-size: 1.4rem;
    }
  }

  &__upper-other-cart--count {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__lower--categories {
    font-size: 1.8rem;

    @media only screen and (max-width: 65.6em) {
      font-size: 1.6rem;
    }
  }

  & .dropdown .title {
    font-weight: bold;
    font-size: 1.8rem;
  }
}

.AdminNavBar {
  &__links {
    font-size: 2rem;
    font-weight: bold;
  }
}

.AlertMessage {
  font-size: 1.6rem;
}

input,
textarea,
.CustomButton {
  font-size: 1.6rem;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: normal;
}

.Footer {
  font-weight: bold;
  & a {
    font-size: 1.8rem;
  }
  &__info-title {
    text-transform: uppercase;
    font-size: 2rem;
  }
}

.ProductInformation {
  &__detail--name {
    font-family: Lato, sans-serif;
    // font-family: 'Open Sans', sans-serif;
  }
  &__detail--name,
  &__rates--price-final {
    font-size: 4.5rem;
    font-weight: bold;

    @include desktop {
      font-size: 4rem;
    }
  }

  &__rates--price-original {
    font-size: 2rem;

    @include desktop {
      font-size: 1.75rem;
    }
  }

  &__buttons-button {
    font-size: 2rem;
    font-family: 'PT Sans Caption', sans-serif;
  }
}

.ProductDetailPage {
  &__othertabs-tabs {
    font-size: 2.5rem;
  }

  &__othertabs-description {
    font-size: 1.8rem;

    &--primary,
    &--secondary {
      line-height: 2.5rem;
    }
  }
}

.AdminDashboardPage {
  &__products-table {
    & thead {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  &__main-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.CustomBadge {
  font-size: 1.8rem;
}

.AdminCarousel {
  font-size: 1.2rem;
  font-weight: bold;
}

.Assurances span {
  font-size: 1.2rem;
}

.CartListItem {
  &__dosage-value,
  &__quantity-value {
    font-size: 2rem;
  }

  &__price--final {
    font-size: 3rem;
  }
}

.ShoppingCartPage {
  &__main--price-amount-value {
    font-size: 3rem;
  }
}

.OrderSummary {
  &__title {
    font-size: 2.2rem;
  }
}

.PricesBreakDown {
  &-total {
    font-size: 2.2rem;
    font-weight: bold;
  }
}

.AdminCard {
  &__title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__value {
    font-size: 6rem;
  }
}

.AdminModal {
  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: bold;
  }
}

.AccountPhase__title,
.BillingPhase__title,
.PaymentPhase__title,
.ReviewPhase__title {
  font-size: 2.2rem;
}

.AccountPhase {
  &__guest--info {
    font-size: 1.8rem;
  }
}

.LoginRegisterModal {
  &__left-title {
    &--content {
      font-size: 3rem;
    }
  }
}

.ProfilePageNavBar {
  li,
  p {
    font-size: 1.8rem;
  }

  &__profile-tile,
  &__orders-title,
  &__payment-title {
    font-size: 2.2rem;
  }
}

.ProfilePageDisplay {
  &__phase-title {
    font-size: 2.2rem;
    color: #000;
    margin-bottom: 3rem;
  }
}

.AddressListItem {
  p {
    font-size: 1.4rem;
  }

  &__intro-name {
    font-size: 1.8rem;
  }
}
